LuaLib/Debug/LuaLib.log
Database/Debug/Database.tlog/CL.read.1.tlog
*.suo
*.user
Database/Debug/Database.Build.CppClean.log
Database/Debug/Database.log
Debug/TestClient.exe_log.txt
FxLib.sdf
Debug/TestServer.exe_log.txt
LuaLib/Debug/LuaLib.Build.CppClean.log
LuaTest/Debug/LuaTest.Build.CppClean.log
LuaTest/Debug/LuaTest.log
Net/Debug/Net.Build.CppClean.log
Net/Debug/Net.log
Net/Release/Net.log
TestClient/Debug/TestClient.Build.CppClean.log
TestClient/Debug/TestClient.log
TestServer/Debug/TestServer.Build.CppClean.log
TestServer/Debug/TestServer.log
FxLib.opensdf
Database/Debug/Database.idb
Database/Debug/Database.pdb
*.tlog
Database/Debug/dbclient.obj
*.obj
*.pdb
*.ilk
*.exp
*.idb
Debug/LuaTest.exe
Debug/TestServer.exe
Debug/TestClient.exe
Debug/Database.lib
Debug/TestClient.lib
Debug/LuaLib.lib
Debug/Net.lib
Debug/TestServer.lib
LuaTest/Debug/LuaTest.vcxprojResolveAssemblyReference.cache
Net/Debug/Net.vcxprojResolveAssemblyReference.cache
TestClient/Debug/TestClient.vcxprojResolveAssemblyReference.cache
TestServer/Debug/TestServer.vcxprojResolveAssemblyReference.cache
Database/Release/Database.Build.CppClean.log
LuaLib/Release/LuaLib.Build.CppClean.log
LuaLib/Release/LuaLib.log
LuaTest/Release/LuaTest.Build.CppClean.log
Database/Release/Database.log
Net/Release/Net.Build.CppClean.log
LuaTest/Release/LuaTest.log
Release/scripts/cmd_param.lua
TestClient/Release/TestClient.Build.CppClean.log
TestClient/Release/TestClient.log
TestServer/Release/TestServer.Build.CppClean.log
TestServer/Release/TestServer.log
LuaTest/Release/LuaTest.vcxprojResolveAssemblyReference.cache
Release/Database.lib
Release/LuaTest.exe
Release/LuaTest.ipdb
Release/LuaLib.lib
Release/Net.lib
Release/TestClient.exe_log.txt
Release/TestClient.ipdb
Release/TestClient.exe
Release/TestServer.exe_exe_log.txt
TestServer/Release/TestServer.vcxprojResolveAssemblyReference.cache
Release/TestServer.lib
Release/TestServer.ipdb
Release/TestServer.iobj
Release/TestServer.exe_log.txt
Release/TestServer.exe
Release/TestClient.lib
Release/TestClient.iobj
Release/TestClient.exe_exe_log.txt
Release/LuaTest.iobj

/Debug/TestClient.exe_exe_log.txt
/Debug/TestServer.exe_exe_log.txt
/Database/x64/Release/Database.log
/Database/x64/Debug/Database.log
/Database/x64/Debug/Database.Build.CppClean.log
/LuaTest/x64/Release/LuaTest.log
/LuaTest/x64/Debug/LuaTest.log
/LuaTest/x64/Debug/LuaTest.Build.CppClean.log
/LuaTest/LuaTest.vcxproj.filters
/LuaLib/x64/Release/LuaLib.log
/LuaLib/x64/Debug/LuaLib.log
/LuaLib/x64/Debug/LuaLib.Build.CppClean.log
/FxLib.VC.VC.opendb
/FxLib.VC.db
/TestServer/x64/Debug/TestServer.log
/TestServer/x64/Debug/TestServer.Build.CppClean.log
/TestServer/TestServer.vcxproj.filters
/TestClient/x64/Debug/TestClient.log
/TestClient/x64/Debug/TestClient.Build.CppClean.log
/TestClient/TestClient.vcxproj.filters
/Net/x64/Debug/Net.log
/Net/x64/Debug/Net.Build.CppClean.log

.vscode/*




