################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*.tlog
*.log
*.obj
*.idb
*.pdb
*.cache
*.txt
*.ilk
/Server/.vs/FxLib/v14/.suo
/Server/Debug/scripts/.vscode
*.exe
*.bsc
*.user
*.luaproj
*.config
/Server/Debug/UrlRequest.lib
/Server/Debug/RedisCon.lib
/Server/Debug/Net.xml
/Server/Debug/Net.lib
/Server/Debug/LuaLib.lib
/Server/Debug/Database.lib
*.suo
*.sbr
*.xdc
*.db
